.main{
  margin: 0px;
  background-color: rgb(230, 230, 230);
}


.cvEdit{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cvView {
  width: 80%;
}

.content{
  display: flex;
  width: 90%;
  margin: auto;
}