@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: "Poppins";
}
.header{
    padding: 1rem;
    background-color: rgba(21, 135, 235, 0.404)
}
.logo{
    font-size: 1.2rem;
    margin: 0px;
}